.cartitem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  gap: 1rem;
  max-height: 220px;
  @media (max-width: 525px) {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
  }
  &--big {
    font-size: 2rem;
    @media (max-width: 525px) {
      border: 1px solid $grey;
      border-radius: 5px;
      padding: 10px;
    }
  }
  &__right {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  &__name {
    margin: 0;
  }
  &__image {
    width: 120px;
  }
}
