.minicartitem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  gap: 1rem;
  &__right {
    display: flex;
    gap: 0.5rem;
  }
  &__name {
    margin: 0;
  }
  &__image {
    width: 120px;
  }
  &__size {
    display: flex;
    gap: 1rem;
  }
  &__amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid $black;
    &:hover {
      cursor: pointer;
      background-color: $light-grey;
    }
    &--disabled {
      color: $light-grey;
      border: 1px solid $light-grey;
    }
  }
}
