.sizes {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  &__square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid $black;
    &--big {
      width: 60px;
      height: 40px;
    }
    &--selected {
      color: $white;
      background-color: $black;
    }
    &:hover {
      cursor: pointer;
      background-color: $light-grey;
    }
    &--disabled {
      color: $light-grey;
      border: 1px solid $light-grey;
      &:hover {
        cursor: default;
        background-color: inherit;
      }
    }
  }
}
