.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  background-color: white;
  height: 15vh;
  &__list {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    height: 100%;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-family: "Raleway";
    &:hover {
      cursor: pointer;
      font-weight: 600;
      color: $green;
    }
  }
  &__logo {
    width: 40px;
  }
  &__cart {
    width: 20px;
  }
  &__down {
    width: 10px;
    margin: 0 5px;
  }
  &__currency {
    font-weight: 500;
  }
}
