.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  background-color: white;
  height: 10vh;
  &__list {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    height: 100%;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    &:hover {
      cursor: pointer;
      font-weight: 600;
      color: $green;
      stroke: $green;
      border-bottom: 2px solid $green;
      & .down {
        stroke: $green;
      }
      & .cart {
        fill: $green;
      }
    }
  }
  &__logo {
    width: 40px;
    &:hover {
      @include shake-animation;
    }
  }
  &__currency {
    font-weight: 500;
    margin-right: 5px;
  }
}
