.product {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  gap: 2rem;
  width: 100%;
  font-size: 1.2rem;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  &__gallery {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    @media (max-width: 768px) {
      flex-direction: row;
      overflow-x: auto;
      width: auto;
    }
  }
  &__miniimage {
    max-width: 100px;
    // transition: $bezier;
    &:hover {
      // transform: scale(1.03);
      cursor: pointer;
      @include shadow();
    }
  }
  &__image {
    width: 100%;
    &-container {
      max-height: 80vh;
      overflow: hidden;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    max-height: 80vh;
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
  &__attributes {
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  &__square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    border: 1px solid $black;
    transition: $bezier;
    &:hover:not(.incart) {
      cursor: pointer;
      @include shadow();
    }
    &--small {
      width: 40px;
      height: 20px;
      font-size: 0.8rem;
      font-weight: bold;
    }
    &--disabled {
      color: $light-grey;
      border: 1px solid $light-grey;
    }
    &--selected {
      transform: scale(1.03);
      @include shadow();
      background-color: $black;
      color: $white;
    }
  }
  &__swatch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #e0e0e0;
    transition: $bezier;
    &--small {
      width: 20px;
      height: 20px;
    }
    &--selected {
      outline: 2px solid $green;
    }
    &:hover:not(.incart) {
      cursor: pointer;
      @include shadow();
    }
  }
  &__checkout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 10px 0;
    height: 150px;
    justify-content: space-between;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 52px;
    font-weight: 600;
    background-color: $green;
    color: $white;
    border: none;
    justify-self: end;
    &:hover {
      background-color: $dark-green;
      cursor: pointer;
    }
    &--disabled {
      background-color: $light-grey;
      color: $grey;
      &:hover {
        cursor: not-allowed;
        background-color: $light-grey;
      }
    }
    &--clicked {
      outline: 2px solid $green;
      outline-offset: 3px;
      @include shake-animation;
    }
  }
  &__name {
    font-size: 2rem;
    margin: 0;
  }
  &__details {
    margin: 0;
    line-height: 26px;
    overflow-y: auto;
  }
}
